
<br><h1 style="text-align:center">Quote Application</h1>
<div class="row">
  <div class="col-md-6">
      <br><br><br><p *ngFor='let proverb of proverbs;let i=index'>
  <li>{{proverb.nom}}</li> 
 <button (click)='toggleInfo(i)' class="btn btn-warning text-light">Description</button> <br>
 <app-likes></app-likes>
 <app-proverb-info *ngIf='proverb.ShowAuteur' [proverbd]='proverb' (isComplete) = 'proverbDelete($event,i)'></app-proverb-info> </p>

</div>
<div class="col-md-6">
<app-form (addProverb)="addNewProverb($event)"></app-form>


        
   
